<%= render 'home_site_wrapper' if @home_page %>
<%= render 'site_wrapper' unless @home_page %>
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <div class="masthead-brand"><%= link_to image_tag("profile-picture.jpg" , class:"small-profile-picture"), home_path %></div>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Projects', projects_path %></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
              <%= link_to image_tag("eng-flag.png", class:"eng-flag"), home_path %><%= link_to image_tag("jap-flag.png", class:"jap-flag"), home_path %>
            </ul>
          </nav>
        </div>
      </div>